.uw-site-content{
  width: 100%;
}

.flex-container{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: row;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
}

@media only screen and (max-width: 999px){
  .flex-component-block{
    flex-basis: 100%;
    -webkit-flex-basis: 100%;
    margin-bottom: 1.5rem;
  }

  .flex-component-description{
    flex-basis: 100%;
    -webkit-flex-basis: 100%;
    margin-bottom: 1.5rem;
  }

  .flex-back-button-wrapper{
    flex-basis: 100%;
    -webkit-flex-basis: 100%;
  }

  .flex-redo-button-wrapper{
    flex-basis: 100%;
    -webkit-flex-basis: 100%;
  }

  .component_square{
    width: 100%;
  }

  .edge-action-button-wrapper{
    width:100%;
  }

  #back-button{
    margin-top: 3rem;
    float: left;

  }

  #redo-button{
    margin-top: 1rem;
    float:left;
  }

  .text-box-hover-wrapper{
    background-color: #fffaaa;
    padding: 0.5rem;
    float:left;
    margin-top: 0.5rem;
    border-style: solid;
    border-color:#000;
    border-width: 1px;
  }

  .text-box-hover{
    font-size:0.7rem;
    margin-top: 0;
    margin-bottom: 0;
  }

  #pd-block{
    padding-top: 3rem;
    border-top-style: solid;
    border-top-color: #757575;
    border-top-width: 1px;
  }

  #pd-description-international{
    padding-bottom: 1.5rem;
    border-bottom-style: solid;
    border-bottom-color: #757575;
    border-bottom-width: 1px;
    margin-bottom: 2.5rem;
  }
} /**End @media**/

@media only screen and (min-width: 1000px) {
  .flex-component-block {
    flex-basis: 25%;
    -webkit-flex-basis: 25%;
    margin-bottom: 1.5rem;
  }

  .flex-component-description {
    flex-basis: 75%;
    -webkit-flex-basis: 75%;
    margin-bottom: 1.5rem;
  }

  .flex-back-button-wrapper{
    flex-basis: 50%;
    -webkit-flex-basis: 50%;
    margin-top: 3rem;
  }

  .flex-redo-button-wrapper{
    flex-basis: 50%;
    -webkit-flex-basis: 50%;
    margin-top: 3rem;
  }

  .component_square{
    width: 90%;
  }

  .edge-action-button-wrapper{
    width:65%;
  }

  #back-button{
    float: left;

  }
  #redo-button{
    float: right;
  }

  .text-box-hover-wrapper{
    background-color: #fffaaa;
    width: 65%;
    float: right;
    padding: 0.5rem;
    margin-top: 0.5rem;
    border-style: solid;
    border-color:#000;
    border-width: 1px;
  }

  .text-box-hover{
    font-size:0.7rem;
    margin-top: 0;
    margin-bottom: 0;
  }

  #pd-block{
    padding-top: 1.5rem;
    border-top-style: solid;
    border-top-color: #757575;
    border-top-width: 1px;
  }

  #pd-description{
    padding-top: 1.5rem;
    border-top-style: solid;
    border-top-color: #757575;
    border-top-width: 1px;
  }

  #pd-description-international{
    padding-top: 1.5rem;
    border-top-style: solid;
    border-top-color: #757575;
    border-top-width: 1px;
  }
} /**End @media**/

.flex-component-title{
  flex-basis:100%;
  -webkit-flex-basis: 100%;
}

.flex-message{
  flex-basis:100%;
  -webkit-flex-basis: 100%;
}

.debug{
  background-color: blue;
}

.margin-top{
  margin-top: 3rem;
}

.component_square:link{
  text-decoration: none;
}

.edge-action-button-gray{
  background-color: #757575;
  color: #fff;
  display: table-cell;
  vertical-align: middle;
  -webkit-transition: .3s linear;
  -moz-transition: .3s linear;
  -ms-transition: .3s linear;
  -o-transition: .3s linear;
  transition: .3s linear;
}

.edge-action-button-gray:hover{
  background-color: #eee;
  color: #757575;
}

.form-actions{
  text-align: left;
  float:none;
}

.adjust-height{
  height:3.75rem;
}

.edit-delete-ruleset{
  background-color: #b73939;
}

