.uw-site-content{
  width: 100%;
}

@media only screen and (max-width: 999px){
  .flex-container{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    flex-flow: row;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;

  }

  .flex-comp-block{
    flex-basis: 100%;
    -webkit-flex-basis: 100%;
    margin-bottom: 1.5rem;
  }

  .flex-comp-descr{
    flex-basis: 100%;
    -webkit-flex-basis: 100%;
    margin-bottom: 1.5rem;
  }

  .flex-back-button-wrapper{
    flex-basis: 100%;
    -webkit-flex-basis: 100%;
  }

  .flex-redo_button-wrapper{
    flex-basis: 100%;
    -webkit-flex-basis: 100%;
  }

  .component_square{
    width: 100%;
  }

  input[type=submit]{
    margin-top: 5%;
    width: 100%;
  }

  .footer_actions_wrapper{
    width:100%;
  }

  #back-button{
    margin-top: 3rem;
    float: left;

  }

  #redo_button{
    margin-top: 1rem;
    float:left;
  }

  .top-hover-wrapper{
    background-color: #fffaaa;
    padding: 0.5rem;
    float:left;
    margin-top: 0.5rem;
    border-style: solid;
    border-color:#000;
    border-width: 1px;
  }

  .top-hover{
    font-size:0.7rem;
    margin-top: 0rem;
    margin-bottom: 0rem;
  }
} /**End @media**/

@media only screen and (min-width: 1000px) {
  .flex-container {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    flex-flow: row;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
  }

  .flex-comp-block {
    flex-basis: 25%;
    -webkit-flex-basis: 25%;
    margin-bottom: 1.5rem;
  }

  .flex-comp-descr {
    flex-basis: 65%;
    -webkit-flex-basis: 65%;
    margin-bottom: 1.5rem;
  }

  .flex-back-button-wrapper{
    flex-basis: 50%;
    -webkit-flex-basis: 50%;
    margin-top: 3rem;
  }

  .flex-redo_button-wrapper{
    flex-basis: 50%;
    -webkit-flex-basis: 50%;
    margin-top: 3rem;
  }

  .component_square{
    width: 90%;
  }

  input[type=submit]{
    margin-top: 5%;
    width: 30%;
  }

  .footer_actions_wrapper{
    width:65%;
  }

  #back-button{
    float: left;

  }
  #redo_button{
    float: right;
  }

  .top-hover-wrapper{
    background-color: #fffaaa;
    width: 65%;
    float: right;
    padding: 0.5rem;
    margin-top: 0.5rem;
    border-style: solid;
    border-color:#000;
    border-width: 1px;

  }

  .top-hover{
    font-size:0.7rem;
    margin-top: 0rem;
    margin-bottom: 0rem;
  }
} /**End @media**/

.flex-comp-title{
  flex-basis:100%;
  -webkit-flex-basis: 100%;
}

.flex-message{
  flex-basis:100%;
  -webkit-flex-basis: 100%;
}

.debug{
  background-color: blue;
}

.margin_top{
  margin-top: 3rem;
}

.component_square:link{
  text-decoration: none;
}

.fye_action_btn{
  background-color: #757575;
  color: #fff;
  display: table-cell;
  vertical-align: middle;
  -webkit-transition: .3s linear;
  -moz-transition: .3s linear;
  -ms-transition: .3s linear;
  -o-transition: .3s linear;
  transition: .3s linear;
}
.fye_action_btn:hover{
  background-color: #eee;
  color: #757575;
}

.form-actions{
  text-align: left;
  float:none;
}

.adjust-height{
  height:3.75rem;
}


