.container-grid{
  display: grid;
  grid-template-columns: 35% 65%;
  /*grid-template-rows: repeat(7,1fr);*/
  grid-template-rows: auto;
  grid-template-areas:
    "header header"
    "comp1 comp1"
    "comp1_block comp1_descr"
    "comp2 comp2"
    "comp2_block comp2_descr"
    "comp3 comp3"
    "comp3_block1 comp3_descr1"
    "comp3_block2 comp3_descr2"
    "comp3_block3 comp3_descr3"
    "comp4 comp4"
    "comp4_block comp4_descr"
    "back_btn redo_btn";
}


.alignment{
  text-align: center;
  align-self: center;
}


.debug{
  background-color: blue;
}

.font_default{
  font-family: "BureauGrotCond Book",impact,"avenir next condensed heavy","Droid Sans",sans-serif;
  font-size: 1.42383rem;

}

.margin_top{
  margin-top: 50px;
}

.webform-confirmation{
  grid-area: header;
}


.component_square{
  width: 90%;
  margin-bottom: 1rem;
}

.component_square:link{
  text-decoration: none;
}

.component1{
  grid-area: comp1;
}

.component1_block{
  grid-area: comp1_block;
  width: 100%;
  height: 100%;
}


.component1_descr{
  grid-area: comp1_descr;
}

.component2{
  grid-area: comp2;
}

.component2_block{
  grid-area: comp2_block;
}

.component2_descr{
  grid-area: comp2_descr;
}

.component3{
  grid-area: comp3;
}

.component3_block1{
  grid-area: comp3_block1;
}

.component3_block2{
  grid-area: comp3_block2;
}

.component3_block3{
  grid-area: comp3_block3;
}

.component3_descr1{
  grid-area: comp3_descr1;
}

.component3_descr2{
  grid-area: comp3_descr2;
}

.component3_descr3{
  grid-area: comp3_descr3;
}

.component4{
  grid-area: comp4;
}

.component4_descr{
  grid-area: comp4_descr;
}

.back_btn_wrapper{
  grid-area: back_btn;
}

.redo_btn_wrapper{
  grid-area: redo_btn;
}